In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark SQL Server Connection") \
    .config("spark.jars", "/usr/share/java/mysql-connector-java-9.1.0.jar") \
    .getOrCreate()

24/11/28 14:25:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [6]:
# Define MySQL connection parameters
jdbc_url = "jdbc:mysql://192.168.0.110/todo"
connection_properties = {"user": "nighthawksdb",
                         "password": "sunlightsam829", "driver": "com.mysql.cj.jdbc.Driver"}

In [ ]:
# Load the data from MySQL into a Spark DataFrame
df = spark.read.jdbc(url=jdbc_url, table="Users", properties=connection_properties)

In [9]:
df.show(5)

+--------------------+----------+--------------------+--------------------+-------------------+-------------------+
|                  id|      name|               email|            password|          createdAt|          updatedAt|
+--------------------+----------+--------------------+--------------------+-------------------+-------------------+
|3b99a2bb-ad6e-40d...|Nighthawks|nighthawks230@gma...|$2b$10$sG1WdqBG5I...|2024-11-06 12:25:21|2024-11-06 12:25:21|
|500ea054-7566-466...|Nighthawks|nighthawks0230@gm...|$2b$10$arpQruJcmu...|2024-10-25 15:15:09|2024-10-25 15:20:27|
|8f70d4a8-1830-408...|       Sam|   sam0230@gmail.com|$2b$10$eAcUUkef49...|2024-11-12 10:48:56|2024-11-15 10:01:40|
+--------------------+----------+--------------------+--------------------+-------------------+-------------------+